@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'open Sans';
}
a {
    text-decoration: none;
    color: ghostwhite;
}
a:hover {
    text-decoration: none;
    color: grey;
}
div#header{
	width: 100%;
	height: 50px;
	background-color: #337ab7;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}
.logo a {
	font-size: 1.3em;
	color: #ffffff;
}
.signout {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
.signout a {
	font-size: 1.3em;
	color: #ffffff;
	font-weight: 900;
}
div#container {
	width: 100%;
	margin: 0 auto; 
	height: 100%;
}
.sidebar {
	width: 250px;
	height: 100%;
	float: left;
	background-color: #1E1926;
}
.content {
	width: auto;
	margin-left: 250px;
	/*height: 100%;*/
	background-color: #c3c3c3;
	padding: 15px;
	padding-left: 15px;
}

ul#nav {

}
ul#nav li {
	list-style: none;
}
ul#nav li a {
	color: #fff;
	display: block;
	padding: 10px;
	font-size: .9em;
	border-bottom: 1px solid #B2CBD4;
}
ul#nav li a:hover {
	background-color: #72c4e1;
	color: #fff;
}
ul#nav li a.selected{
	background-color: #060508;
	color: #fff;
}
div#box {
	margin-top: 15px;
}
div#box .box-top {
	color:#fff;
	text-shadow: 0px 1px #000;
	background-color: #2980b9;
	padding: 5px;
	padding-left: 15px;
	font-weight: 300;
}
div#box .box-panel{
	padding: 15px;
	background-color: #fff;
}
.footer {
 /* grid-area: footer;
  background-color: #648ca6;
  text-align: center;*/
  background-color: #337ab7;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
.grid-container {
	padding: 10px;
	display: block;
  
  /*grid-template-columns: 240px 1fr;*/
  /*grid-template-rows: 50px 1fr 50px;*/
/*  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;*/
}

  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    /*height: 150px;*/ /* Force our height since we don't have actual content yet */
    background-color: #e3e4e6;
    color: slategray;
}
    
    .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
  }
  
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #cb0758e3;
    color: white;
    font-weight: 500;
    width: 103%;
  }
  .welcome{
  	color: #0018cf;
    font-weight: 900;
  }