@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'open Sans';
}
a {
	text-decoration: none;
}
div#header{
	width: 100%;
	height: 50px;
	background-color: #5325E0;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}
.logo a {
	font-size: 1.3em;
	color: #ffffff;
}
div#container {
	width: 100%;
	margin: 0 auto; 
}
.sidebar {
	width: 250px;
	height: 100%;
	float: left;
	background-color: #1E1926;
}
.content {
	width: auto;
	margin-left: 250px;
	height: 100%;
	background-color: #c3c3c3;
	padding: 15px;
	padding-left: 15px;
}

ul#nav {

}
ul#nav li {
	list-style: none;
}
ul#nav li a {
	color: #fff;
	display: block;
	padding: 10px;
	font-size: .9em;
	border-bottom: 1px solid #B2CBD4;
}
ul#nav li a:hover {
	background-color: #006600;
	color: #fff;
}
ul#nav li a.selected{
	background-color: #060508;
	color: #fff;
}
div#box {
	margin-top: 15px;
}
div#box .box-top {
	color:#fff;
	text-shadow: 0px 1px #000;
	background-color: #2980b9;
	padding: 5px;
	padding-left: 15px;
	font-weight: 300;
}
div#box .box-panel{
	padding: 15px;
	background-color: #fff;
}